In [65]:
import numpy as np
import pandas as pd

In [66]:
df = pd.read_csv('./data/huge/train.csv')
#df = pd.read_csv('./data/huge/train.csv', nrows=1000)

In [67]:
print(df.head())
print(df.shape)

               ID  Click      F01      F02      F03    F04      F05  F06  \
0  TRAIN_00000000      1  NSLHFNS  AVKQTCL  DTZFPRW  114.0  ISVXFVA    1
1  TRAIN_00000001      0  VGIVWZQ  LSUSMVO  PQGWFJZ   26.0  NFRVLWS   43
2  TRAIN_00000002      0  JCDXFYU  PILDDJU  IAGJDOH  119.0  LFPUEOV    0
3  TRAIN_00000003      1  PSMFWTP  ZYAVJHP      NaN   15.0  ATQPZSJ   26
4  TRAIN_00000004      0  SLCRICD  QPQWGXA      NaN   13.0  CHZGJZR   20

       F07      F08  ...      F30      F31      F32  F33      F34      F35  \
0  PQZBVMG  LPYPUNA  ...  NZGEZLW  GTISJWW    380.0  2.0  AXQFZWC  IRUDRFB
1  IMPIGJT  MIGYEEG  ...  NZGEZLW  GTISJWW    466.0  1.0  DRVVDHZ  IRUDRFB
2  FFUTIRZ  OFKQGTY  ...  VHXETCF  KHZNEZF    197.0  0.0  QMOULXS  IRUDRFB
3  ZDTZNSB  THBWWCD  ...  IVIRTPR  GTISJWW   8640.0  0.0  IZLJUJS  IRUDRFB
4  PQZBVMG  MIGYEEG  ...  NZGEZLW  WHSRKIM  41774.0  0.0  BHBIZCL  IRUDRFB

    F36      F37  F38      F39
0   NaN  TFJMLCZ  0.0  AURZYDY
1  19.0  AUGTURV  0.0  LUZRMLU
2   8.0  ZVSTLNM  0.0  MHBRSQK
3  14.0  ZBSRLCQ  0.0  GAZBSSZ
4  13.0  QHYLSBX  0.0  QTATWAY

[5 rows x 41 columns]
(28605391, 41)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28605391 entries, 0 to 28605390
Data columns (total 41 columns):
 #   Column  Dtype
---  ------  -----
 0   ID      object
 1   Click   int64
 2   F01     object
 3   F02     object
 4   F03     object
 5   F04     float64
 6   F05     object
 7   F06     int64
 8   F07     object
 9   F08     object
 10  F09     object
 11  F10     object
 12  F11     float64
 13  F12     object
 14  F13     object
 15  F14     int64
 16  F15     object
 17  F16     object
 18  F17     object
 19  F18     float64
 20  F19     float64
 21  F20     object
 22  F21     object
 23  F22     object
 24  F23     object
 25  F24     float64
 26  F25     object
 27  F26     object
 28  F27     float64
 29  F28     object
 30  F29     float64
 31  F30     object
 32  F31     object
 33  F32     float64
 34  F33     float64
 35  F34     object
 36  F35     object
 37  F36     float64
 38  F37     object
 39  F38     float64
 40  F39     object
dtypes: float64(11), int64(3), object(27)
memory usage: 8.7+ GB

In [69]:
df = df.drop('ID',axis=1)

float_columns = df.select_dtypes(include=['float64']).columns
object_columns = df.select_dtypes(include=['object']).columns

df[float_columns] = df[float_columns].fillna(0)
df = df.fillna('NAN')

df[float_columns] = df[float_columns].astype('int64')
df[object_columns] = df[object_columns].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28605391 entries, 0 to 28605390
Data columns (total 40 columns):
 #   Column  Dtype
---  ------  -----
 0   Click   int64
 1   F01     category
 2   F02     category
 3   F03     category
 4   F04     int64
 5   F05     category
 6   F06     int64
 7   F07     category
 8   F08     category
 9   F09     category
 10  F10     category
 11  F11     int64
 12  F12     category
 13  F13     category
 14  F14     int64
 15  F15     category
 16  F16     category
 17  F17     category
 18  F18     int64
 19  F19     int64
 20  F20     category
 21  F21     category
 22  F22     category
 23  F23     category
 24  F24     int64
 25  F25     category
 26  F26     category
 27  F27     int64
 28  F28     category
 29  F29     int64
 30  F30     category
 31  F31     category
 32  F32     int64
 33  F33     int64
 34  F34     category
 35  F35     category
 36  F36     int64
 37  F37     category
 38  F38     int64
 39  F39     category
dtypes: category(26), int64(14)
memory usage: 5.2 GB

### Split

In [70]:
from sklearn.model_selection import train_test_split

X = df.drop('Click',axis=1)
y = df['Click']

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=42, test_size=0.2)

In [71]:
print(train_X.shape, val_X.shape, train_y.shape, val_y.shape)

(22884312, 39) (5721079, 39) (22884312,) (5721079,)

### Model

In [72]:
import lightgbm as lgb
model = lgb.LGBMClassifier(objective='binary', n_estimators=10000, n_jobs=-1)
model.fit(train_X, train_y, eval_set=[(val_X, val_y)], eval_metric='auc')

[LightGBM] [Warning] Categorical features with more bins than the configured maximum bin number found.
[LightGBM] [Warning] For categorical features, max_bin and max_bin_by_feature may be ignored with a large number of categories.
[LightGBM] [Info] Number of positive: 4455818, number of negative: 18428494
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.620308 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 75028
[LightGBM] [Info] Number of data points in the train set: 22884312, number of used features: 39
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.194711 -> initscore=-1.419687
[LightGBM] [Info] Start training from score -1.419687

:

### Pred

In [ ]:
test_df = pd.read_csv('./data/huge/test.csv')
test_df = test_df.drop('ID',axis=1)

test_df[float_columns] = test_df[float_columns].fillna(0)
test_df = test_df.fillna('NAN')

test_df[float_columns] = test_df[float_columns].astype('int64')
test_df[object_columns] = test_df[object_columns].astype('category')

test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4538541 entries, 0 to 4538540
Data columns (total 39 columns):
 #   Column  Dtype
---  ------  -----
 0   F01     category
 1   F02     category
 2   F03     category
 3   F04     int64
 4   F05     category
 5   F06     int64
 6   F07     category
 7   F08     category
 8   F09     category
 9   F10     category
 10  F11     int64
 11  F12     category
 12  F13     category
 13  F14     int64
 14  F15     category
 15  F16     category
 16  F17     category
 17  F18     int64
 18  F19     int64
 19  F20     category
 20  F21     category
 21  F22     category
 22  F23     category
 23  F24     int64
 24  F25     category
 25  F26     category
 26  F27     int64
 27  F28     category
 28  F29     int64
 29  F30     category
 30  F31     category
 31  F32     int64
 32  F33     int64
 33  F34     category
 34  F35     category
 35  F36     int64
 36  F37     category
 37  F38     int64
 38  F39     category
dtypes: category(26), int64(13)
memory usage: 874.3 MB

In [ ]:
pred = model.predict_proba(test_df)

In [ ]:
pred[:,1]

array([1.46174995e-05, 1.53941053e-04, 6.07498652e-01, ...,
       5.93835978e-09, 1.69579989e-05, 8.24710264e-07])

### Submission

In [ ]:
sample_submission = pd.read_csv('./data/huge/sample_submission.csv')

In [ ]:
sample_submission['Click'] = pred[:,1]
sample_submission

                   ID         Click
0        TEST_0000000  1.461750e-05
1        TEST_0000001  1.539411e-04
2        TEST_0000002  6.074987e-01
3        TEST_0000003  4.055291e-04
4        TEST_0000004  1.858578e-04
...               ...           ...
4538536  TEST_4538536  1.104016e-08
4538537  TEST_4538537  5.169165e-02
4538538  TEST_4538538  5.938360e-09
4538539  TEST_4538539  1.695800e-05
4538540  TEST_4538540  8.247103e-07

[4538541 rows x 2 columns]

In [ ]:
sample_submission.to_csv('./data/huge/results/lgbm.csv', index=False)